@import "../../styles/variables.scss";

.dict__btn {
  display: block;
  padding: 8px 10px;
  width: 100%;
  border: none;
  border-radius: $borderRadius;
  color: $mainColor;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &--yes {
    background-color: $yes;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $yesHover;
    }
  }

  &--no {
    background-color: $no;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $noHover;
    }
  }

  &:focus {
    outline-color: $mainColor;
  }

  &:hover {
    color: $mainColor;
  }
}

.disabled {
  background-color: $yes;
  cursor: initial;
}

.trans__btn {
  padding: 5px 15px;
  border: 2px solid $mainColor;
  border-radius: $borderRadius;
  background-color: transparent;
  color: $mainColor;
  font-size: 24px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $mainColor;
    color: $hoverColor;
  }

  &:focus {
    outline: none;
    border: 5px solid $yes;
  }
}

.btn-arrow {
  padding: 10px;
  width: 50px;
  height: 50px;
  background-color: $yes;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  & img {
    width: 30px;
    height: 30px;
  }

  &--next {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: $hoverColor;
  }

  &:focus {
    outline-color: $mainColor;
  }
}

@media (max-width: 578px) {
  .btn-arrow {
    position: absolute;
    bottom: 15px;
    z-index: 100;

    &--prev {
      left: 15px;
    }

    &--next {
      right: 15px;
    }
  }
}

@media (max-width: 480px) {
  .btn-arrow {
    width: 40px;
    height: 40px;
  }

  .trans__btn {
    font-size: 22px;
  }
}

@media (max-width: 280px) {
  .trans__btn {
    padding: 5px 10px;
    font-size: $fontSize;
  }
}
