@import "../../styles/variables.scss";

.dict__btn {
  display: block;
  padding: 8px 10px;
  width: 100%;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &--yes {
    background-color: $yes;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $yesHover;
    }
  }

  &--no {
    background-color: $no;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $noHover;
    }
  }

  &:focus {
    outline-color: $hoverColor;
  }

  &:hover {
    color: $lightColor;
  }
}

.trans__btn {
  padding: 5px 15px;
  border: 2px solid $mainColor;
  border-radius: $borderRadius;
  background-color: transparent;
  color: $mainColor;
  font-size: 24px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

	&:hover {
		border: 2px solid $hoverColor;
		color: $hoverColor;
	}

	&:focus {
		outline-color: $hoverColor;
	}
}
