//sizes
$fontSize: 18px;
$fontTitle: 28px;
$borderRadius: 15px;

// colors
$mainColor: #100f0f;
$hoverColor: #5a2edd;
$lightColor: #fff;
$transparent: rgba(255, 255, 255, 0.3);
$yes: rgba(90, 46, 221, 0.5);
$no: rgba(188, 44, 114, 0.5);
$noHover: #bc2c72;
$saveBG: rgba(52, 82, 235, 0.5);