//sizes
$fontSize: 18px;
$fontTitle: 28px;
$borderRadius: 15px;

// colors
$mainColor: rgb(218, 218, 218);
$colorBG: #3c3584;
$hoverColor: #28254c;
$transparent: rgba(255, 255, 255, 0.3);
$yes: #9164c0;
$yesHover: #572e80;
$no: #638ebd;
$noHover: #2d527c;
$add: #572e80;
$addHover: #9164c0;
$cancel: #2d527c;
$cancelHover: #638ebd;
$ghostPurple: rgba(51, 47, 99, 0.5);
