@import "../../styles/variables.scss";

.word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 500px;
  height: 300px;
  border: 2px solid $mainColor;
  border-radius: $borderRadius;

  &__word {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__pron {
    margin-bottom: 20px;
    font-size: 28px;
  }

  &--active {
    opacity: 1;
  }

  &--hidden {
    display: none;
  }
}

.fade {
  animation-name: fade-in;
  animation-duration: 1.2s;
  animation-fill-mode: both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .word {
    width: 400px;

    &__word {
      font-size: 44px;
    }
  }
}

@media (max-width: 480px) {
  .word {
    width: 300px;
    height: 350px;

    &__word {
      font-size: 30px;
    }

    &__pron {
      font-size: 22px;
    }
  }
}

@media (max-width: 280px) {
  .word {
    width: 250px;
    height: 300px;

    &__word {
      font-size: 26px;
    }

    &__pron {
      font-size: $fontSize;
    }
  }
}
