@import "../../styles/variables.scss";

.word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 300px;
  height: 300px;
  border: 2px solid $mainColor;
  border-radius: $borderRadius;

  &__word {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__pron {
    margin-bottom: 20px;
    font-size: 28px;
  }

	&--active {
		opacity: 1;
	}

	&--hidden {
		display: none;
	}
}

.fade {
	animation-name: fade-in;
	animation-duration: 1.2s;
	animation-fill-mode: both;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}