@import '../../styles/variables.scss';

.train {
  display: flex;
  flex-direction: column;
  align-items: center;
	padding-top: 50px;
	padding-bottom: 50px;

	&__count {
		margin-bottom: 10px;
		font-size: $fontSize;
		font-weight: 700;
	}

  &__page {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

	&__index {
		font-weight: 700;
		font-size: $fontSize;
	}
}
